<h1>Observation Stations</h1>
<p> Number of stations: <%= @observation_stations.count %>
  <% if current_user %> <!-- and current_user.admin %> -->
    <%= link_to "Update list", fetch_stations_path, method: :post %>
  <% end %>
  <% if current_user %> <!-- and current_user.admin %> -->
    <%= link_to "Update todays temperatures", fetch_all_observations_path, method: :post %>
  <% end %>
</p>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Fmisid</th>
      <th>Wmo</th>
      <th>Name</th>
      <th>Lat</th>
      <th>Lon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @observation_stations.each do |observation_station| %>
      <tr>
        <td><%= link_to observation_station.id, observation_station %></td>
        <td><%= observation_station.wmo %></td>
        <td><%= link_to observation_station.name, observation_station %></td>
        <td><%= observation_station.lat %></td>
        <td><%= observation_station.lon %></td>
        <!-- <td><%= observation_station.elevation %></td>
        <td><%= observation_station.group %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<p><div class="pagination"> <%= will_paginate @observation_stations %> </div></p>
