<p id="notice"><%= notice %></p>

<h1>Observation Stations</h1>
<p> Number of stations: <%= @observation_stations.count %></p>

<table>
  <thead>
    <tr>
      <th>Fmisid</th>
      <th>Lpnn</th>
      <th>Wmo</th>
      <th>Name</th>
      <th>Year</th>
      <th>Lat</th>
      <th>Lon</th>
      <!-- <th>Elevation</th>
      <th>Group</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @observation_stations.each do |observation_station| %>
      <tr>
        <td><%= link_to observation_station.id, observation_station %></td>
        <td><%= observation_station.lpnn %></td>
        <td><%= observation_station.wmo %></td>
        <td><%= link_to observation_station.name, observation_station %></td>
        <td><%= observation_station.year %></td>
        <td><%= observation_station.lat %></td>
        <td><%= observation_station.lon %></td>
        <!-- <td><%= observation_station.elevation %></td>
        <td><%= observation_station.group %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<p><div class="flickr_pagination"> <%= will_paginate @observation_stations %> </div></p>
