<h2> <%= @observation_station %> </h2>

<!-- # <% if current_user %>
#   <%= link_to "Update observations", fetch_observations_path(:fmisid => @observation_station.id), method: :post %>
# <% end %> -->

<% if current_user and not current_user.in? @observation_station.users%>
  <%= form_for(@favourite_station, method: "create") do |f| %>
      <%= f.hidden_field :observation_station_id %>
      <%= f.submit value:"Add as favourite station" %>
   <% end %>
<% end %>

<% if current_user and current_user.in? @observation_station.users%>
  <%= form_for(@favourite_station, method: "delete") do |f| %>
      <%= f.hidden_field :observation_station_id %>
      <%= f.submit value:"Remove from favourite stations" %>
   <% end %>
<% end %>

<p>
  <strong>
    Fmisid: <%= @observation_station.id %> |
    Wmo: <%= @observation_station.wmo %>
  </strong>
</p>

<p>
  <% if @observation_station.observations.empty? %>
   Station doesn't have any observations.
  <% else %>
   Station has <%= pluralize(@observation_station.observations.count, 'observation') %>.
  <% end %>
</p>

<div class="google-maps">
  <iframe src="//www.google.com/maps/embed/v1/place?q=<%= @observation_station.lat %>, <%= @observation_station.lon %>
      &zoom=9
      &key=<%= ENV['GOOGLE_API_KEY'] %>"
      width="500" height="350"
      frameborder="0">
  </iframe>
</div>

<%= link_to 'Back', observation_stations_path %>
