<p id="notice"><%= notice %></p>

<h2> <%= @observation_station %> </h2>

<p>
  <strong>
    Fmisid: <%= @observation_station.id %> |
    Wmo: <%= @observation_station.wmo %> |
    <!-- Year: <%= @observation_station.year %> |
    Lpnn: <%= @observation_station.lpnn %> |
    Elevation: <%= @observation_station.elevation %> |
    Group: <%= @observation_station.group %> -->
  </strong>
</p>

<p>
 <% @observation_station.observations.each do |observation| %>
   <strong>Temperature: </strong> <%= link_to observation.t2m, observation %>
 <% end %>
</p>

<p>
  <% if @observation_station.observations.empty? %>
   Station doesn't have any observations.
  <% else %>
   Station has <%= pluralize(@observation_station.observations.count, 'observation') %>.
  <% end %>
</p>

<%= link_to 'Edit', edit_observation_station_path(@observation_station) %> |
<%= link_to 'Back', observation_stations_path %>
