<p>
  <strong>Observation station:</strong>
  <%= @daily_observation.observation_station_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @daily_observation.date %>
</p>

<p>
  <strong>T2max:</strong>
  <%= @daily_observation.t2max %>
</p>

<p>
  <strong>T2maxtime:</strong>
  <%= @daily_observation.t2maxtime %>
</p>

<p>
  <strong>T2min:</strong>
  <%= @daily_observation.t2min %>
</p>

<p>
  <strong>T2mintime:</strong>
  <%= @daily_observation.t2mintime %>
</p>

<%= link_to 'Back', daily_observations_path %>
