<!DOCTYPE html>
<html>
<head>
  <title>Synobs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navibar">
    <%= link_to 'Observation stations', observation_stations_path %>
    <%= link_to 'Observations', observations_path %>
  </div>

  <%= yield %>

</body>
</html>
